/* footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */

.Busqueda{
    width: 25%;
}

.ordenyCategorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectOrder{
    width: 25%;
}
#selectCategory{
    width: 25%;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 180px;
    border-radius: 1rem;
    box-shadow: 8px 8px 14px -11px rgba(0,0,0,0.58);
}

.card-title{
    font-weight: bold;
}
.card-descuento{
    background:orangered;
    color: white;
    font-weight: bold;
}

.img-card-div{
    display: flex;
    justify-content: center;
}

.img-fluid{
    box-sizing: content-box; 
    max-height:150px;
}


.d-flex{
    display: flex;
    align-items: center;
}

.bi-search{
    color: white;
    margin-right: 15px;
    font-size: 30x;
}

.buy-icon{
    display: flex;
    justify-content: end;
    color: orangered;
    font-size: 20px;
}